* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    line-height: 1.2;
    color: #1f2937;
}

.hero {
    background-color: #1f2937;
    color: white;
}

.logo {
    font-size: 24px;
    Color: #F9FAF8;
    font-weight: 700;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 0;
}

.header a {
    text-decoration: none;
    color: #e5e7eb;
}

.nav {
    list-style: none;
    display: flex;
    gap: 24px;
}

.container {
    width: 90%;
    max-width: 1024px;
    margin: 0 auto;
}

.hero-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 0 133px;
}

.hero-text {
    max-width: 450px;
}

.hero-text h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.hero-text p {
    font-size: 18px;
    color: #e5e7eb;
    margin-bottom: 12px;
}

.hero-btn {
    font-family: inherit;
    font-size: 18px;
    font-weight: 700;
    padding: 8px 35px;
    background-color: #3b82f6;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.hero-image {
    width: 500px;
    background-color: #6b7280;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info {
    padding: 50px 0 120px;
    text-align: center;
}

.info h2 {
    font-size: 36px;
    color: #1f2937;
    font-weight: 700;
    margin-bottom: 50px;
}

.container-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 32px;
}

.imgcard {
    width: 140px;
}

.card {
    height: 168px;
    border: 4px solid #3b82f6;
    border-radius: 12px;
    margin-bottom: 4px;
}

.imgcard figcaption {
    color: #4b5563;
}

.quote {
    background-color: #e5e7eb;
    color: #1f2937;
    padding: 110px 0;
}

.quote-content {
    width: 90%;
    max-width: 800px;
    margin: 0 auto;
}

blockquote {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    line-height: 1.17;
}

cite {
    display: block;
    text-align: right;
    font-size: 24px;
    font-weight: 700;
    font-style: normal;
    padding-right: 30px;
    margin-top: 4px;
}

.cta {
    padding: 100px 0;
}

.cta-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3b82f6;
    color: #ffffff;
    border-radius: 8px;
    height: 150px;
    padding: 0 120px;
}

.cta-text h3 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 4px;
}

.cta-text p {
    font-size: 16px;
    font-weight: 300;
}

.cta-box button {
    font-family: inherit;
    font-size: 18px;
    font-weight: 700;
    padding: 6px 33px;
    background-color: transparent;
    color: #ffffff;
    border: 2px solid #ffffff;
    border-radius: 5px;
    cursor: pointer;
}


.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    background-color: #1f2937;
    color: white;
}